body{
    text-align: center;
    
}
.nav-item{
 padding: 0 40px;
}
.navbar{
    padding-top: 1px; 
    opacity: 95%;
    background: rgba(29, 29, 29, 0.92);

}
.imac{
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #FAFAFA;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.imac h1{
    font-weight: 520;
    font-size: 50px;
}
.imac h2{
    font-size: 20px;
}
.imac p{
    color: rgb(157, 157, 157);
}
.imac a{
    text-decoration: none;
    padding: 20px;
}
.imac img{
    margin-laft: 60px;
    
}
